
<ul class="lang-menu">
    <li><a href="{{  path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ky'}))}}">Kyrgyz</a></li>
    <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}">Russian</a></li>
    <li><a href="{{  path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'}))}}">English</a></li>
</ul>

<ul>
    {% if app.user %}
    <li><a href="{{ path('fos_user_security_logout') }}">Выйти</a></li>
    {% endif %}
</ul>