{% extends "::base.html.twig" %}
{% block body %}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Почему My Company</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<section class="section-padding">
            <div class="aligncenter">
            	<h2 class="aligncenter">Преимущества</h2>
            </div>
		<div class="container">
			<div class="row showcase-section">
				<div class="col-md-6">
					<img src="{{ asset('public/img/preim.jpg') }}" alt="showcase image">
				</div>
				<div class="col-md-6">
					<div class="about-text">
						<li>1. Низкий процент по выделенным кооперативом средствам: 0% или 2% сроком до 10 лет</li>
 						<li>2. Минимальный паевой взнос - 10 000 рублей</li> 
 						<li>3. Для вступления в кооператив нужен только один документ - паспорт</li> 
 						<li>4. Купить жилье можно в любом населенном пункте России</li>
 						<li>5 .Полная прозрачность работы ЖК для пайщика через личный кабинет на сайте Кооператива</li>
 						<li>6 .Возможность передачи пая другому члену кооператива или третьему лицу</li> 
 						<p>Основной мечтой каждого человека была и по сей день остается мечта о собственных квадратных метрах. Государство гарантирует каждому гражданину реализацию данного права в рамках Конституции РФ. Создаются законы, по которым осуществляется реализация прав граждан.</p>
 						<h3>Что такое жилищный кооператив?</h3>
 						<p>Жилищными кооперативами называют некоммерческие организации в виде потребительских кооперативов, строго соблюдающих Жилищный Кодекс России и осуществляющих деятельность по обеспечению всех членов кооператива недвижимостью. Каждый из объектов покупается или возводится на денежные средства кооперативов, в которые, в зависимости от разновидности кооператива, могут входить как простые граждане (физические лица), так и юридические лица.</p>
					</div>
				</div>
			</div>
			<div class="row"> 
              <div class="col-md-12">
                <div class="about-logo">
                  <h3>Преимущества жилищных кооперативов.</h3>
					<p>Поскольку общая касса кооперативов обходится без средств кредитных организаций, с их весомыми процентами, то квартиры для членов кооперативов в итоге будут стоить примерно вдвое дешевле, чем для заемщиков ипотеки. Соответственно, главным преимуществом вступления в ЖК является наиболее дешевый способ покупки жилья, по сравнению с его приобретением в кредит. Помимо этого, жилищный кооператив возводит или приобретает жилье без разных посредников, что, вкупе с налоговыми вычетами, также существенно уменьшает его стоимость.</p>
                </div>  
              </div>
            </div>
		</div>
            <div class="aligncenter">
            	<h2 class="aligncenter">Возможности</h2>
            </div>
		<div class="container">
			<div class="row showcase-section">
				<div class="col-md-6">
					<div class="about-text">
						<li>1. Возможность накопления паевого взноса</li>
 						<li>2. Покупка недвижимости по всей территории России</li> 
 						<li>3. Юридическая экспертиза сделки</li> 
 						<li>4. Вселение и проживание в квартире при фактическом накоплении всего трети ее рыночной стоимости </li>
 						<li>5. Приемка объекта у застройщика в случае долевого участия</li>
 						<li>6. Работа с жилищными субсидиями и материнским капиталом</li> 
 						<li>7. Быстрое движение в очереди для активных пайщиков, которые привлекают в кооператив новых членов </li> 
 						<li>8. Жилье — это комната, квартира, жилой дом, отвечающие требованиям, установленным жилищным законодательством РФ</li>
 						<p>Американская ипотека заменила собой любые другие способы приобретения жилья с отсрочкой платежа. Но все имеет свойство заканчиваться. И вот снова стали заявлять о себе жилищные кооперативы.</p>
 						<h3>Почему сегодня выгодно вступать в кооперативы?</h3>
 						<p>Согласно законам экономики, один незаменимый продукт долго существовать на рынке не может. В современном мире каждый банк имеет собственные условия ипотечного кредитования, но в любом случае схема подразумевает наличие залога в форме недвижимости.</p>
 						<p>В отличие от ипотеки жилищные кооперативы дают оформить право собственности на объект по завершении выплаты пая. Данный процесс регулируется законодательством РФ.</p>
					</div>
				</div>
				<div class="col-md-6">
					<img src="{{ asset('public/img/vozmoj.jpg') }}" alt="showcase image">
				</div>
			</div>
			<div class="row"> 
              <div class="col-md-12">
                <div class="about-logo">
					<p>Однозначным достоинством для потенциального члена кооператива является тот факт, что в отличие от банка при вступлении в ЖК не требуется многочисленных справок и гарантий. Паспорт - вот и весь пакет документов. В кооперативе все довольно просто и прозрачно.</p>
                    <p>В пользу банка служит обстоятельство, состоящее в том, что банки могут выдать большую сумму кредита, чем кооператив. Как известно, первоначальный взнос по ипотеке должен быть, в большинстве случаев, не менее 30% от стоимости желаемого объекта. А для того чтобы вступить в обычный кооператив, как правило, необходимо иметь сумму от 50% стоимости объекта.</p>
					<p>Однако, в кооперативе "Best Way" пайщик имеет возможность получить желаемую недвижимость в рассрочку с оплатой всего 35% её стоимости, или же накопить необходимую сумму. Тем самым ЖК "Best Way" на несколько шагов впереди как банка, так и других кооперативов.</p>
                </div>  
              </div>
            </div>
		</div>
            <div class="aligncenter">
            	<h2 class="aligncenter">Гарантия</h2>
            </div>
		<div class="container">
			<div class="row showcase-section">
				<div class="col-md-6">
					<img src="{{ asset('public/img/garantiya-ifix.png') }}" alt="showcase image">
				</div>
				<div class="col-md-6">
					<div class="about-text">
						<li>Работа ЖК в рамках Жилищного и Гражданского Кодексов РФ;</li>
 						<li>Контроль государства; Общее собрание пайщиков;</li> 
 						<li>Паевой счет ЖК в Сбербанке РФ;</li> 
 						<li>Гарантия возврата 100% паевых взносов (согласно законодательству РФ);</li>
					</div>
				</div>
			</div>
		</div>
	</section>
	</section>
{% endblock %}