{% extends '::base.html.twig' %}
{% block body %}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Дипломы и сертификаты</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
		<div class="container content">		
        <!-- Service Blcoks -->

        <div class="row service-v1 margin-bottom-40">
            <div class="col-md-6">
                <img class="img-responsive" src="{{ asset('public/img/service2.jpg') }}" alt="">            
                <h3>Heart Consultant</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus</p>        
            </div>
            <div class="col-md-6 md-margin-bottom-40">
              <img class="img-responsive" src="{{ asset('public/img/service3.jpg') }}" alt="">  
                <h3>Nutrituion</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus</p>        
            </div>
        </div>
        <!-- End Service Blcoks -->
 
     

        
    </div>
    </section>
    {% endblock %}