{% extends "::base.html.twig" %}
{% block body %}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Кооперация</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<section class="section-padding">
		<div class="container">
			<div class="row showcase-section">
				<div class="col-md-6">
					<img src="{{ asset('public/img/dev1.png') }}" alt="showcase image">
				</div>
				<div class="col-md-6">
					<div class="about-text">
						<p><b>Кооперация</b> – добровольное объединение людей для решения конкретной задачи. Современное кооперативное движение зародилось в 18 веке, но предпосылки к нему появились намного раньше. Родиной потребительской кооперации стала Англия, производственной – Франция, сельской и бытовой Германия.</p>

						<p>За свои 170 лет кооперация в России прошла трудный и сложный путь от первого потребительского общества «Большая артель», созданного в Петровске-Забайкальском ссыльными декабристами, до наших дней.</p>
						<p><b>Казалось бы, что мешает самостоятельно накопить определенную сумму на жилье?</b></p>

						<p><b>Ответ очевиден:</b> отсутствие самодисциплины и огромное количество соблазнов вокруг. Многим людям не хватает силы воли, чтобы отказаться от сиюминутных удовольствий ради серьезной цели. </p>
						<p>Решить жилищный вопрос можно ПРОСТО, если поставить цель. Проблема часто заключается в том, что люди такую цель просто не ставят. Почему? Срабатывают мифы!</p>
					</div>
				</div>
			</div>
			<div class="row"> 
              <div class="col-md-12">
                <div class="about-logo">
                  <h3>Мифы о кооперативе</h3>
                  <p><b>Миф №1 Для покупки квартиры нужны большие деньги.</b></p>
					<p>Опровержение: Кооператив предлагает индивидуальный график накопления, благодаря которому паевые взносы в размере всего лишь 10 000 рублей позволяют за 3-5 лет накопить 35% стоимости комнаты или квартиры и приобрести их через кооператив. Сколько Вы платите за аренду, обогащая арендодателя? Поставьте цель: накопите себе на собственную квартиру.</p>
                    <p><b>Миф №2 Пока деньги копятся в кооперативе - они подвергаются инфляции.</b></p>
					<p>Опровержение: Деньги кооператива вкладываются в реальные объекты недвижимости, в которых живут пайщики. На историческом опыте доказано, что недвижимость всегда значительно растет в цене. Посмотрите рост цен за последние 10 лет и сравните их с инфляцией – темпы роста цен на недвижимость на порядок опережают инфляцию.</p>
					<p><b>Миф №3 Кооператив закроется – деньги пропадут.</b></p>
					<p>По Уставу кооператив может закрыться, только если все члены ЖК выйдут из кооператива. Если хотя бы один будет против, то ЖК не может быть закрыт или реорганизован. Деньги вкладываются в объекты недвижимости, которые всегда можно продать. В случае Вашего желания выйти из кооператива или расформирования кооператива, по закону РФ возвращаются все паевые взносы, которые Вы внесли или накопили.</p>
                </div>  
              </div>
            </div>
		</div>

	</section>
<div class="aligncenter"><h2 class="aligncenter">Как это работает?</h2></div>

	<section class="section-padding">
		<div class="container">
			<div class="row showcase-section">
				
				<div class="col-md-6">
					<div class="about-text">
						<p><b>1.</b> Вступление в кооператив. Членом кооператива может быть гражданин, достигший возраста шестнадцати лет. Для вступления в ЖК необходимо написать заявление и внести вступительный взнос.</p>
						<p><b>2.</b> Необходимо накопить либо внести определенный процент от ориентировочной стоимости жилья, используя различные формы участия и графики накопления.</p>
						<p><b>3.</b> Недостающую сумму денежных средств для приобретения жилья добавит кооператив из своего паевого фонда и приобретёт для пайщика объект недвижимости, оформив её в свою собственность до полного погашения пайщиком задолженности перед кооперативом за приобретенный для него объект недвижимости</p>
						<p><b>4.</b> Приобретенный объект недвижимости передается в пользование члену ЖК, для которого он приобретался</p>
						<p><b>5.</b> Пайщик осуществляет выплаты согласно графику платежей до полного погашения задолженности перед кооперативом. После чего объект недвижимости передается пайщику в собственность.</p>
						<p><b>6.</b> Когда долг полностью погашен, член кооператива получает право оформить недвижимость в свою собственность.</p>
						<p><b>7.</b> До приобретения объекта недвижимости в собственность ЖК пайщик вносит ежемесячный паевой взнос (не менее 10 000 руб.) и ежемесячный членский взнос в размере 2000 (две тысячи) руб.</p>
					</div>
				</div>
				<div class="col-md-6">
					<img src="{{ asset('public/img/dev2.png') }}" alt="showcase image">
				</div>
			</div>
		</div>
	</section>
	</section>
{% endblock %}